@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DotGothic16", sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    /* background-color: #27272f; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    304deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 64, 121, 1) 41%,
    rgba(26, 48, 134, 1) 100%
  );
  color: white;
  padding: 0 8.5%;
  position: relative;
}

nav {
    display: flex;
    align-items: center;
    padding: 30px 0 10px;
}

.menu-icon {
    width: 35px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 40px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: aquamarine;
}

.shop-title {
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 40px;
}

.shop-title h1 {
    font-size: 75px;
    line-height: 160px;
}

.shop-title a {
    text-decoration: none;
    color: aquamarine;
    margin-top: 30px;
    display: inline-block;
    border: 2px solid aquamarine;
    padding: 10px 30px;
    border-radius: 6px;
}

.shop-title .btn {
    background: aquamarine; 
    color: rgba(9, 64, 121, 1);
    margin-left: 20px;
}

.keyboard-img {
    width: 820px;
    position: absolute;
    right: 5%;
    bottom: 25%;
}