@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DotGothic16", sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    /* background-color: #27272f; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    304deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 64, 121, 1) 41%,
    rgba(26, 48, 134, 1) 100%
  );
  color: white;
  padding: 0 8.5%;
  position: relative;
}

nav {
    display: flex;
    align-items: center;
    padding: 30px 0 10px;
}

.menu-icon {
    width: 35px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 40px;
}

nav ul li a {
    color: white;
}